<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>app-orchestrator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  
    <servlet-name>dummy</servlet-name>
    <servlet-class>gr.ntua.cslab.services.DummyWebService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>providedresources</servlet-name>
    <servlet-class>gr.ntua.cslab.services.iaas.ProvidedResources</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userquotas</servlet-name>
    <servlet-class>gr.ntua.cslab.services.iaas.UserQuotas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>iaasactions</servlet-name>
    <servlet-class>gr.ntua.cslab.services.iaas.Actions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>iaasprobes</servlet-name>
    <servlet-class>gr.ntua.cslab.services.iaas.Probes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>metricsget</servlet-name>
    <servlet-class>gr.ntua.cslab.services.metrics.Get</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>metricsinsert</servlet-name>
    <servlet-class>gr.ntua.cslab.services.metrics.Insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>actionhistory</servlet-name>
    <servlet-class>gr.ntua.cslab.services.action.GetHistory</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadprobe</servlet-name>
    <servlet-class>gr.ntua.cslab.services.probes.Upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deploy</servlet-name>
    <servlet-class>gr.ntua.cslab.services.deployment.Deploy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>smartdeploy</servlet-name>
    <servlet-class>gr.ntua.cslab.services.deployment.SmartDeploy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shutdown</servlet-name>
    <servlet-class>gr.ntua.cslab.services.deployment.Shutdown</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>resize</servlet-name>
    <servlet-class>gr.ntua.cslab.services.deployment.Resize</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getconf</servlet-name>
    <servlet-class>gr.ntua.cslab.services.deployment.GetConf</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dummy</servlet-name>
    <url-pattern>/dummy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>providedresources</servlet-name>
    <url-pattern>/iaas/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userquotas</servlet-name>
    <url-pattern>/iaas/quotas/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>iaasactions</servlet-name>
    <url-pattern>/iaas/actions/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>iaasprobes</servlet-name>
    <url-pattern>/iaas/probes/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>metricsget</servlet-name>
    <url-pattern>/metrics/get/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>metricsinsert</servlet-name>
    <url-pattern>/metrics/insert/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>actionhistory</servlet-name>
    <url-pattern>/action/gethistory/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadprobe</servlet-name>
    <url-pattern>/probes/upload/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deploy</servlet-name>
    <url-pattern>/deployment/deploy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>smartdeploy</servlet-name>
    <url-pattern>/deployment/smartdeploy/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shutdown</servlet-name>
    <url-pattern>/deployment/shutdown/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resize</servlet-name>
    <url-pattern>/deployment/resize/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getconf</servlet-name>
    <url-pattern>/deployment/getconf/*</url-pattern>
  </servlet-mapping>
</web-app>